:root {
  --primary1: #FE6A00;
  --primary2: #1D0D78;
}
 
 /* Dropdown Styles */
    .dropdown:hover .dropdown-menu,.dropdown-menu:hover {
      display: block;
    }
    .dropdown .dropdown-menu {
        position: absolute;
        top: 100%;
        left: -15px;
        z-index: 9999;
        display: none;
        margin-top: 1px;
        /* background-color: rgb(249, 244, 236); */
        box-shadow: 20px 60px 125px -5px white ;

    }


    .navbar {
      background-color: transparent;
      transition: background-color 0.3s ease-in;
    }
    
 

  .hero {
    position: relative;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .hero-content {
    position: relative;
    z-index: 10; 
  }
  .hero-img-container {
    display: none;
  }
  .navbar-scrolled{
    background-color: var(--primary1) !important;
    transition: 4s ease-in;
  }
  @media (min-width: 768px) {
    .hero-img-container {
      display: flex;
    }
  }
     @keyframes textReveal {
      0% {
          opacity: 0;
          transform: translateY(100%);
      }
      100% {
          opacity: 1;
          transform: translateY(0);
      }
  }

  /* Infinite Animation for Hero Text */
  @keyframes infiniteHeroText {
      0% {
          transform: scale(1);
      }
      50% {
          transform: scale(1.05);
      }
      100% {
          transform: scale(1);
      }
  }

  .text-reveal {
      animation: textReveal 2s ease-out forwards;
  }

  .infinite-animation {
      animation: infiniteHeroText 5s ease-in-out infinite;
  }

  /* Scroll to Top Button Styles */
  #scrollTopBtn {
      position: fixed;
      bottom: 30px;
      right: 30px;
      background-color: #1D0D78;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 18px;
      border-radius: 50px;
      cursor: pointer;
      display: none;
      z-index: 1000;
  }

  #scrollTopBtn:hover {
      background-color: #FE6A00;
  }