  /* Dropdown Styles */
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 100%;
  }

  .heroImgContainer .heroimg{
border-radius: 50% 5% 5% 50%;
}
  /* Animations */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  .animate-fade-in {
    animation: fadeIn 2s ease-in-out;
  }

  @keyframes slideUp {
    from {
      transform: translateY(100px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .animate-slide-up {
    animation: slideUp 1.5s ease-in-out forwards;
  }

  @keyframes slideRight {
    from {
      transform: translateX(-100px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .animate-slide-right {
    animation: slideRight 1.5s ease-in-out forwards;
  }

  @keyframes zoomIn {
    from {
      transform: scale(0.5);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  .animate-zoom-in {
    animation: zoomIn 2s ease-in-out;
  }