:root {
  --primary1: #FE6A00;
  --primary2: #1D0D78;
}
 *{
  box-sizing: border-box;
 }
section {
  scroll-margin-top: 6rem;
}
body{
  overflow-x: hidden;
}
 /* Dropdown Styles */
    .dropdown:hover .dropdown-menu,.dropdown-menu:hover {
      display: block;
    }
    .dropdown .dropdown-menu {
        position: absolute;
        top: 100%;
        left: -15px;
        z-index: 9999;
        display: none;
        margin-top: 1px;
        box-shadow: 20px 60px 125px -5px white ;

    }


    .navbar {
      background-color: transparent;
      transition: background-color 0.3s ease-in;
    }

  .navbar-scrolled{
    background-color: rgb(6, 22, 52) !important;
    transition: 4s ease-in;
    opacity: 100%;
  }
  @media (min-width: 768px) {
    .hero-img-container {
      display: flex;
    }
  }
     @keyframes textReveal {
      0% {
          opacity: 0;
          transform: translateY(100%);
      }
      100% {
          opacity: 1;
          transform: translateY(0);
      }
  }

  /* Infinite Animation for Hero Text */
  @keyframes infiniteHeroText {
      0% {
          transform: scale(1);
      }
      50% {
          transform: scale(1.03);
      }
      100% {
          transform: scale(1);
      }
  }

  .text-reveal {
      animation: textReveal 2s ease-out forwards;
  }

  .infinite-animation {
      animation: infiniteHeroText 5s ease-in-out infinite;
  }

 
 

  @keyframes floating {
0% {
  transform: translateY(0);
}
50% {
  transform: translateY(-10px);
}
100% {
  transform: translateY(0);
}
}

.floating {
animation: floating 3s ease-in-out infinite;
}




/* Typewriter animation */
@keyframes typewriter {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  0% {
    border-color: transparent;
  }
  100% {
    border-color: transparent;
  }
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #fff; /* Change color if needed */
  animation: typewriter 4s steps(40, end) infinite, blink 0.75s step-end infinite;
  width: 0;
  animation-delay: 1s;
}
